In [24]:
# Import required libraries
import numpy as np
import pandas as pd
import io
import requests
import random
import matplotlib.pyplot as plt

# Get data from online CSV file
url="https://raw.githubusercontent.com/elinlutz/gatsby-map/master/src/data/time_series/time_series_deaths-deaths.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

# Drop unecessary columns
c.drop(['Region', 'Population', 'Lat', 'Long', 'Today', 'Region_Deaths', 'FHM_Deaths_Today', 'Diff'], axis=1, inplace=True)

# Drop the last 3 rows
c = c.iloc[:-3]

# Traspose table
c = c.transpose()

# Make first row (region names) into header
new_header = c.iloc[0] # First row
c = c[1:] # All rows except header
c.columns = new_header # Set header row as header

# Remove all columns with only zeros
c.loc[:, (c != 0).any(axis=0)]

# Create index based on number of rows
c['Index'] = np.arange(len(c))
c = c.set_index('Index')

# Take 7 day rolling average
c = c.rolling(7).mean()

# Create row indicating first occurence of >=3 deaths in a day (rolling 7-day average)
e = c.ge(3).idxmax()
e = e.reset_index()
e['Index'] = np.arange(len(e))
e = e.set_index('Index')
c = c.transpose()
c = c.reset_index()
c['Index'] = np.arange(len(c))
c = c.set_index('Index')
c['First_Occ'] = e[0]
c = c.transpose()

# Make first row (region names) into header
new_header = c.iloc[0] #grab the first row for the header
c = c[1:] #take the data less the header row
c.columns = new_header #set the header row as the df header

# Only keep regions with a start day (an occurence of average > 3 deaths)
c = c.transpose()
is_start_day = c['First_Occ'] > 0
c_true = c[is_start_day]
c_true = c_true.transpose()
c_final = c_true.iloc[:-1,:]

# LOOP to shift values to start position
i_start = 0
i_end = 1

for col in c_final: 
    
    i_first_occ = c_true.iat[len(c_final), i_start]
    c_final.iloc[:,i_start:i_end] = c_final.iloc[:,i_start:i_end].shift(-i_first_occ, axis = 0)
    i_start = i_start + 1
    i_end = i_end + 1

# Remove N/A values
c_final = c_final.dropna(axis=0, how='all')

# Create lines indicating different doubling times
c_final['x'] = np.arange(len(c_final))
c_final['3-days'] = 3 * (2 ** 0.333333333 ) ** c_final['x']
c_final['7-days'] = 3 * (2 ** 0.142857143 ) ** c_final['x']
c_final['28-days'] = 3 * (2 ** 0.035714286 ) ** c_final['x']

c_final.drop('x', axis = 1, inplace=True)

# 
cols = list(c_final.columns.values) # List all of the columns in dataframe
cols.pop(cols.index('3-days')) # Remove b from list
cols.pop(cols.index('7-days')) # Remove x from list
cols.pop(cols.index('28-days')) #Remove x from list
c_final = c_final[['3-days','7-days', '28-days'] + cols] #Create new dataframe with columns in the order you want

# Update CSV file
c_final.to_csv('test.csv', encoding='utf-8-sig')
c_final

c:\python27\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Display_Name,3-days,7-days,28-days,Dalarna,Gävleborg,Skåne,Stockholm,Sörmland,Uppsala,Västmanland,Västra Götaland,Örebro,Östergötland
Index,,,,,,,,,,,,,
0,3.000000,3.000000,3.000000,3,3.14286,3.28571,4.57143,3.71429,3,3.14286,3.85714,3,3.28571
1,3.779763,3.312269,3.075193,2.14286,3.14286,2.71429,5.42857,4.14286,3,3.42857,4.28571,3,3.14286
2,4.762203,3.657041,3.152270,3,3.14286,2.57143,7.42857,4.85714,3,3.71429,5,3,3.71429
3,6.000000,4.037701,3.231279,2.85714,3.14286,3.42857,7.57143,5.28571,3,3.71429,4.42857,3,3.85714
4,7.559526,4.457983,3.312269,2.14286,4,3.57143,8.28571,5.85714,4.14286,5,4.57143,3.42857,4.57143
5,9.524406,4.922012,3.395288,4,2.57143,2.85714,10.4286,6,4.14286,5.14286,4.28571,3.85714,4.42857
6,12.000000,5.434342,3.480388,3.85714,2.28571,3.14286,12.1429,6.85714,4.14286,5.28571,4,4.57143,4.42857
7,15.119053,6.000000,3.567621,3.71429,1.28571,2.28571,16,6,2.14286,5.85714,3.85714,2.57143,3.28571
8,19.048813,6.624537,3.657041,3.71429,1.28571,2.42857,19.4286,5.42857,2.14286,6.14286,4,3.14286,4.42857
9,24.000000,7.314082,3.748702,3.14286,1.28571,2.28571,20.5714,4.71429,2.14286,5.85714,3.71429,3.14286,4.14286
10,30.238105,8.075401,3.842660,3.57143,1.71429,NaN,23.1429,5,4.28571,5.85714,4.42857,3.71429,4.14286
11,38.097625,8.915966,3.938973,3.57143,1,NaN,26.1429,3.85714,3.57143,NaN,4.42857,NaN,3.71429
12,48.000000,9.844024,4.037701,2.28571,1.28571,NaN,30.5714,6.42857,3.71429,NaN,4.57143,NaN,3.85714
13,60.476210,10.868684,4.138902,2.28571,1.42857,NaN,39.5714,5.42857,3.71429,NaN,7,NaN,3.71429
14,76.195250,12.000000,4.242641,2.28571,1.57143,NaN,38.5714,5.14286,3.42857,NaN,10.1429,NaN,NaN
15,96.000000,13.249074,4.348979,2.71429,1.71429,NaN,43.8571,6,3.57143,NaN,9.57143,NaN,NaN
16,120.952420,14.628164,4.457983,NaN,1.71429,NaN,43.7143,5.85714,3.57143,NaN,10.5714,NaN,NaN
17,152.390500,16.150802,4.569719,NaN,1.85714,NaN,42.5714,5.57143,3.42857,NaN,11.5714,NaN,NaN
18,191.999999,17.831932,4.684255,NaN,NaN,NaN,39.5714,6.42857,NaN,NaN,11.5714,NaN,NaN
19,241.904841,19.688049,4.801662,NaN,NaN,NaN,34.2857,4.85714,NaN,NaN,11.5714,NaN,NaN
20,304.781001,21.737368,4.922012,NaN,NaN,NaN,33.5714,4.85714,NaN,NaN,NaN,NaN,NaN
21,383.999998,24.000000,5.045379,NaN,NaN,NaN,40.4286,5,NaN,NaN,NaN,NaN,NaN
22,483.809681,26.498148,5.171837,NaN,NaN,NaN,44.1429,4,NaN,NaN,NaN,NaN,NaN
23,609.562001,29.256328,5.301465,NaN,NaN,NaN,43.7143,NaN,NaN,NaN,NaN,NaN,NaN
24,767.999996,32.301605,5.434342,NaN,NaN,NaN,53.4286,NaN,NaN,NaN,NaN,NaN,NaN
25,967.619361,35.663863,5.570550,NaN,NaN,NaN,56.1429,NaN,NaN,NaN,NaN,NaN,NaN
26,1219.124001,39.376097,5.710171,NaN,NaN,NaN,57.2857,NaN,NaN,NaN,NaN,NaN,NaN
27,1535.999990,43.474736,5.853292,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN
28,1935.238720,48.000000,6.000000,NaN,NaN,NaN,52.5714,NaN,NaN,NaN,NaN,NaN,NaN
29,2438.247999,52.996297,6.150385,NaN,NaN,NaN,47.5714,NaN,NaN,NaN,NaN,NaN,NaN
30,3071.999979,58.512656,6.304540,NaN,NaN,NaN,53.7143,NaN,NaN,NaN,NaN,NaN,NaN
31,3870.477438,64.603209,6.462558,NaN,NaN,NaN,44.4286,NaN,NaN,NaN,NaN,NaN,NaN
32,4876.495996,71.327726,6.624537,NaN,NaN,NaN,41.1429,NaN,NaN,NaN,NaN,NaN,NaN
33,6143.999953,78.752194,6.790576,NaN,NaN,NaN,41.8571,NaN,NaN,NaN,NaN,NaN,NaN